@model IEnumerable<StudentMgmtApp.Models.StudentServices>
@{
    ViewData["Title"] = "Students Service";
}

<h1>Students Service</h1>

<p>


    @using (Html.BeginForm("FilterStudentServices", "Home", new AjaxOptions
    {

        UpdateTargetId = "divResults",

        InsertionMode = InsertionMode.Replace,

        HttpMethod = "Get"

    }))
    {
        <div class="form-action no-color">
    <p style="margin-top:20px;">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
    </p>
    <input type="submit" value="Search" class="btn btn-outline-success btn-sm" />

    </div>

    if (ViewBag.showResult == true)
    {

        <div id=" divResults ">

            @Html.Partial("MyPartialView", Model)

        </div>
    }

}
    </p>

    @if (ViewBag.showResult == false)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SchoolYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SchoolYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

